<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>leaverequest</display-name>
  <servlet>
    <description></description>
    <display-name>LoginProxyServlet</display-name>
    <servlet-name>LoginProxyServlet</servlet-name>
    <servlet-class>nl.ciber.bpm.LoginProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProxyServlet</servlet-name>
    <url-pattern>/LoginProxyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BPMProxyServlet</display-name>
    <servlet-name>BPMProxyServlet</servlet-name>
    <servlet-class>nl.ciber.bpm.BPMProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BPMProxyServlet</servlet-name>
    <url-pattern>/bpm/bpemservices/*</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>logindest</res-ref-name>
    <res-type>com.sap.core.connectivity.api.http.HttpDestination</res-type>
  </resource-ref>
  <resource-ref>
    <res-ref-name>bpmdest</res-ref-name>
    <res-type>com.sap.core.connectivity.api.http.HttpDestination</res-type>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>